<?xml version="1.0" encoding="utf-8"?>
<widget id="app.erpg.dado3d" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Dado3D</name>
  <description>Rolagem de dados 3D offline.</description>
  <author>Arkanus</author>
  <content src="index.html" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="Orientation" value="default" />
  <preference name="AndroidLaunchMode" value="singleTop" />
  <preference name="hostname" value="localhost" />
  <platform name="android">
    <preference name="scheme" value="https" />
    <preference name="AndroidWindowSplashScreenBackground" value="#101216" />
    <icon src="res/icon.png" />
  </platform>
  <platform name="ios">
    <preference name="scheme" value="app" />
    <icon src="res/ios/icon-1024.png" width="1024" height="1024" />
  </platform>
</widget>
